.file-list {
  padding-top: 1px;
  height: 99%;
}
.file {
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  padding: 2px;
  font-family: "Franxurter";
  user-select: none;
  margin: 0px 1px 1px 1px;
}
.file:hover {
  background-color: #03a9f4 !important;
}
.file-icon {
  vertical-align: text-bottom;
  margin-right: 2px;
  width: 18px;
  height: 18px;
  pointer-events: none;
}
.file-content {
  padding: 3px;
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  display: block;
  white-space: pre;
  display: none;
}

.file-contextmenu {
  display: none;
  width: 150px;
  height: 300px;
  background-color: #747474;
  border-radius: 12px;
  padding: 12px 2px 12px 2px;
  position: absolute;
}
