.file-list {
  padding-top: 1px;
  height: 99%;
}
.file {
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  padding: 2px;
  font-family: "Franxurter";
  user-select: none;
  margin: 2px 2px 3px 2px;
}
.file:hover {
  background-color: #03a9f4 !important;
}
.file-icon {
  vertical-align: text-bottom;
  margin-right: 2px;
  width: 18px;
  height: 18px;
  pointer-events: none;
}
